body {
    background-color: #edeeff;
}

#text-input {
    padding-top: 5%;
}

#cloud-2 {
    fill: #ffffff;
    position: absolute;
    width: 25%;
    left: 37.5%;
    top: 25px;
}

@font-face {
    font-family: "Bagnard";
    src: url(Bagnard.otf);
}

@font-face {
    font-family: "Young Serif";
    src: url(YoungSerif-Regular.otf);
}

@font-face {
    font-family: "Recoleta";
    src: url(Recoleta.otf);
}

@font-face {
    font-family: "GT-Super-Display-Light-Trial";
    src: url(GT-Super-Display-Light-Trial.otf);
}

#hello {
    /* UI Properties */
    font-family: "GT-Super-Display-Light-Trial";
    color: #000000;
    font-size: 60px;
    text-align: center;
    position: relative;
    z-index: 1;
    margin-top: 110px;
    margin-bottom: 20px;
}

#questionmark {
    font-family: "DM-Serif";
}

#feelings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;
}

.circle {
    margin: 10px;
    font-family: IBM Plex Mono;
    /*background-color: #FF8A71; */
    width: 75px;
    height: 75px;
    padding: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
}

.circle:hover {
    transform: translateY(-20px);
}

/* Input form */

#input {
    width: 100%;
    margin-top: 6%;
    margin-bottom: 6%;
}

#inputbox {
    text-align: center;
    width: 79%;
    margin-left: 7.5%;
    border: 0px;
    border-radius: 20px;
    padding: 3%;
}
