body {
  background-color: #FFDED7;
}

.test {
  background-color: pink;
  padding: 60px;
  width: 0%;
  max-height: 120px;
  max-width: 120px;
  overflow: hidden;

}

#text-input {
  padding-bottom: 2%;
  padding-top: 5%;
}

#cloud-1 {
  fill: #FFFFFF;
  width: 12%; /* remove width/height from SVG in order to use this property */
  position: absolute;
  left: 11.5%;
  margin: 0;
  top: 90px;
}

#cloud-2 {
  fill: #FFFFFF;
  width: 8%;
  position: absolute;
  left: 40%;
  top: 50px;
  margin-right: 0px;
}

@font-face {
   font-family: 'Bagnard';
   src: url(Bagnard.otf);
}

@font-face {
   font-family: 'Young Serif';
   src: url(YoungSerif-Regular.otf);
}

#hello {
  /* UI Properties */
  font-family: 'Young Serif';
  color: #FF4922;
  font-size: 70px;
  text-align: center;
  position: relative;
  z-index: 1;

}

#text {
}

#feelings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.circle {
  margin: 10px;
  font-family: IBM Plex Mono;
  background-color: #FF8A71;
  width: 120px;
  height: 120px;
  padding: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
}

.circle:hover {
  transform: translateY(-20px);
}



/* Input form */

#input {
  width: 100%;
}

#inputbox {
  text-align: center;
  width: 48%;
  margin-left: 25%;
  border: 0px;
  border-radius: 20px;
  padding: 1%;
}
